// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
	color: red;
	background: blue;
	height:20px;
	width:300px;
	
	}
